.header{
    color: #9c9aa0;
    background-color: white;
    max-height: 60rem;
    max-width: 100%;
    padding: 0px;
    margin: 20px 0px;
    padding: 2rem;
    justify-content: center;
    overflow:hidden;
}
.logo{
    text-align: left;
    float: left;
    width: 55%;
}
.nav{
    margin-top: 5px;
    text-align: right;
    float: right;
    width: 45%;
}
a { margin-right: 2.4rem; text-decoration: none; color:#9997a0;} /* Globally */

/* Each state */

a:visited { text-decoration: none;  }
a:hover { text-decoration: none;  color: #d4a59e}
a:focus { text-decoration: none;  }
a:hover, a:active { text-decoration: none;}